.modal__container{
    width:100vw;
    min-height:100vh;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;
    animation-name: AnimModal;
    animation-duration: 1s;
}

@keyframes AnimBody{
    0%{
        transform:scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes AnimModal{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.modal__body{
    text-align: center;
    padding:80px 20px;
    border-radius: 25px;
    min-height: 200px;
    opacity: 1;
    background-color: rgb(78, 183, 3);
    width:400px;
    font-size: 30px;
    animation-name: AnimBody;
    animation-duration: 1s;
}
